In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csv_path="Resources/budget_data.csv"
df = pd.read_csv (csv_path)
#csvreader=csv.reader(path)
#print(next(csv.reader))

In [4]:
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993